#coding:utf-8
<h1>Входим..</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "Имя или Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </div>
  <input name="tag" type="hidden" value="1" />
  <div class="actions">
    <%= f.submit "Войти" %>
  </div>
<% end %>

<p>
Впервые здесь? <%= link_to "Регистрация", signup_path %><br>
Забыл пароль? <%= link_to "Вход по секретному вопросу", signin2_path %></p>