<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name, "Имя пользователя" %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password, "Пароль" %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
  <%= f.password_field :password_confirmation %>
</div>