%h1
  Все пользователи по фрагменту
  = @filter_str
%table
  %td
    = will_paginate @users, :params => {:user => {:word => @filter_str}}
    %ul.users= render @users
    = will_paginate @users, :params => {:user => {:word => @filter_str}}
  %td.search
    = form_for :user, :url => {:action => :filter}  do |f|
      %p
        = f.label "Фильтр по имени"
        %br/
        = f.text_field :word, :value => @filter_str
      = f.submit "Submit"

