%h1 Все пользователи
%table
  %td
    = will_paginate
    %ul.users= render @users
    = will_paginate
  %td.search
    = form_for :user, :url => {:action => :filter}, :method => "get"  do |f|
      %p
        = f.label "Фильтр по имени"
        %br/
        = f.text_field :word
      = f.submit "Submit"

